<amplify-authenticator>
  <div>
    Todos App
    <amplify-sign-out></amplify-sign-out>
  </div>
</amplify-authenticator>

<div class="form-body">
  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name" autocomplete="off" />
    </div>
    <div>
      <label>Description:</label>
      <input type="text" formControlName="description" autocomplete="off" />
    </div>
    <div>
      <label>City:</label>
      <input type="text" formControlName="city" autocomplete="off" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div class="todo-item" *ngFor="let todo of todos$ | async">
  <div>Name: {{ todo?.name }}</div>
  <div>Description: {{ todo?.description }}</div>
  <div>City: {{ todo?.city }}</div>

  <button (click)="deleteTodo(todo.id)">Delete</button>
</div>

<header class="center">
  <button name="red" (click)="redirectTo('')">Home</button>
</header>
<button
  *ngFor="let btn of buttons"
  [name]="btn.color"
  (click)="redirectTo(btn.route)"
>
  {{ btn.name }}
</button>
<body class="center">
  <router-outlet></router-outlet>
</body>
