<amplify-authenticator>
  <div>
    Todos App
    <amplify-sign-out></amplify-sign-out>
  </div>
</amplify-authenticator>

<div class="form-body">
  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="
      isEditing ? editTodo(createForm.value) : createTodo(createForm.value)
    "
  >
    <div>
      <label>Name:</label>
      <input type="text" formControlName="name" autocomplete="off" />
    </div>
    <div>
      <label>Description:</label>
      <input type="text" formControlName="description" autocomplete="off" />
    </div>
    <div>
      <label>City:</label>
      <input type="text" formControlName="city" autocomplete="off" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<app-todo-list
  [todos]="todosFacade.todos$ | async"
  (editingTodo)="editingTodo($event)"
  (deleteTodo)="deleteTodo($event)"
></app-todo-list>

<header class="center">
  <button name="red" (click)="redirectTo('')">Home</button>
</header>
<button
  *ngFor="let btn of buttons"
  [name]="btn.color"
  (click)="redirectTo(btn.route)"
>
  {{ btn.name }}
</button>
<body class="center">
  <router-outlet></router-outlet>
</body>
